name: Use case - TT02 & PROD
permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
  - cron: '*/15 * * * *'

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        environment: [TT02, PROD]
    environment: ${{ matrix.environment }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Run availability check
      run:  |
              cd tests/k6
              docker compose run k6 run /src/tests/availability-check.js -e env=${{ vars.ENV }} -e apimSubscriptionKey=${{ secrets.APIM_SUBSKEY }}
    - name: Run failed shipment check
      if: ${{ matrix.environment != 'TT02' }}
      run:  |
              cd tests/k6
              docker compose run k6 run /src/tests/failed-shipment-check.js -e env=${{ vars.ENV }} -e apimSubscriptionKey=${{ secrets.APIM_SUBSKEY }}
    - name: Build failure report
      if: failure()
      run: |
          report=":warning: eFormidling integration point - Failed checks identified in ${{ vars.ENV }} :warning: \n"
          report+="\n Workflow available here: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          echo "stepreport="$report >> $GITHUB_ENV
    - name: Report failure to Slack
      if: failure()
      id: slack
      uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
      with:
        webhook-type: incoming-webhook
        webhook: ${{ secrets.SLACK_WEBHOOK_URL_PROD }}
        payload: |
            {
              "text": "${{ env.stepreport }}"
            }
